<nav class="bradcaump-content">
    <a class="breadcrumb_item" *ngIf="breadcrumbs?.length > 1" [routerLink]="['/']">Trang chủ</a>
    <span *ngFor="let breadcrumb of tail(breadcrumbs); last as isLast; first as isFirst" [attr.aria-current]="isLast">
        <span class="brd-separetor">/</span>
        <ng-container *ngIf="isLast && !linkLast; else link">
            <span class="breadcrumb_item active">{{ breadcrumb.name }}</span>
        </ng-container>
        <ng-template #link>
            <a class="breadcrumb_item" [routerLink]="['/category', breadcrumb | collectionUrl]">{{ breadcrumb.name }}</a>
        </ng-template>
    </span>
</nav>
