<div class="glass_toggle_menu">
  <nav class="mainmenu_nav mainmenu__nav" [ngClass]="{'active': isMobileToggle}">
    <ul class="main_menu" *ngIf="collectionTree$ | async as tree">
      <li class="drop" *ngFor="let collection of tree.children"
        (mouseenter)="onMouseEnter(collection)"
        (mouseleave)="close($event)">
        <a
          [class.active]="(setActiveCollection$ | async)?.id === collection.id && overlayIsOpen$ | async"
          (touchstart)="onTopLevelClick($event, collection)"
          [routerLink]="['/category', collection | collectionUrl ]">{{ collection.name }}</a>
      </li>
      <li>
        <a [routerLink]="['/']">Tin tức</a>
      </li>
      <li>
        <a [routerLink]="['/']">Khuyến mãi</a>
      </li>
    </ul>
  </nav>
  <div class="hamburger-box button mobile-toggle" (click)="mobileToggle()" [ngClass]="{'active': isMobileToggle}">
    <span class="mobile-toggle__icon"></span>
  </div>
</div>
<!-- Mobile Menu -->
<div class="mobile-menu d-block d-lg-none"></div>
<!-- Mobile Menu -->

<ng-template #menuTemplate>
  <ul
    class="dropdown collections-menu-sub-collections"
    *ngIf="activeCollection?.children?.length"
     (touchstart)="captureTouchStart($event)"
     (mouseenter)="onMouseEnter(activeCollection)"
     (mouseleave)="close()"
  >
    <li *ngFor="let level1 of activeCollection.children">
      <ng-container *ngFor="let level2 of level1.children">
        <a class="level-2-link"
           [routerLink]="['/category', level2 | collectionUrl]"
           (click)="close()">
          {{ level2.name }}
        </a>
      </ng-container>
    </li>
  </ul>
</ng-template>
