<div class="product__details__container">
  <div class="tab_container big_img_container">
    <img *ngIf="selectedAsset" [src]="selectedAsset | assetPreview:540"
      #mainPreview
      class="img-fluid main-preview"
      height="500">
  </div>
  <div class="sm_roduct_nav nav nav-tabs" role="tablist">
    <a class="active" *ngFor="let asset of assets" class="alt-image" [class.selected]="selectedAsset.id === asset.id" (click)="selectImage(asset.id)">
    <img [src]="asset | assetPreview:'tiny'">
    </a>
  </div>
</div>
