.chasmishco_header {
  .logo {
    img {
      height: 65px;
    }
  }

  @media only screen and (max-width: 479px) {
    .container {
      width: 325px;
    }

    .login_account {
      .account > ul {
        flex-direction: column;

        li::before {
          display: none;
        }
      }
    }
  }
}

.footer_widget {
  ul {
    padding-left: 0;

    li {
      list-style: none;
      border-top: 1px solid #404852;
      padding: 3px 0;
    }

    a {
      color: #fff;
      font-size: 12px;
    }
  }
}
