<div class="sidebar_widget widget_categories mb--60" *ngFor="let facet of facets">
  <h2 class="sidebar_title">{{ facet.name | titlecase }}</h2>
  <ul class="sidebar_categories">
    <li *ngFor="let value of inactiveFacetValues(facet.values)">
      <a [routerLink]="['./']"
        [queryParams]="{ facets: toggleFacetValueId(value.id) }"
        [queryParamsHandling]="'merge'"
      >{{ value.name }} <span>({{ value.count }})</span></a>
    </li>
    <li *ngFor="let value of activeFacetValues(facet.values)">
      <a
        [routerLink]="['./']"
        [queryParams]="{ facets: toggleFacetValueId(value.id) }"
        [queryParamsHandling]="'merge'"
        class="facet-value selected">
        {{ value.name }}
        <span class="badge badge-light">
          <fa-icon icon="times" class=""></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</div>
