<div class="product">
  <ng-template [ngIf]="product" [ngIfElse]="placeholder">
    <div class="thumb">
      <a [routerLink]="['/product', product.slug]">
        <img [src]="product.productAsset | assetPreview:300:300" alt="{{ product.productName }}">
      </a>
      <div class="product_action">
        <h4>
          <a [routerLink]="['/product', product.slug]">{{ product.productName }}</a>
        </h4>
        <ul class="cart_action">
          <li>
            <a href="#">
              <img src="assets/img/icons/add_to_cart.png" alt="icons">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/icons/compare_icon.png" alt="icons">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/icons/wishlist_icon.png" alt="icons">
            </a>
          </li>
          <li>
            <a title="Quick View" class="quickview" href="#">
              <img src="assets/img/icons/quick_view.png" alt="icons">
            </a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h4>
          <a [routerLink]="['/product', product.slug]">{{ product.productName }}</a>
        </h4>
        <ul class="price">
          <li>{{ product.priceWithTax.min | formatPrice }}</li>
          <li class="old-price">{{ product.priceWithTax.min | formatPrice }}</li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #placeholder>
    <div class="placeholder-image loading-placeholder"></div>
    <div class="card-body">
      <div class="placeholder-title loading-placeholder"></div>
      <div class="placeholder-body loading-placeholder"></div>
    </div>
  </ng-template>
</div>
